<center> <h2> Assignment # 2 </h2> </center>  
<center> <h3> Perform the basic wrangling on the data <h3> </center>

### Task 1: Importing Files and Libraries
**i. Import Required libraries and Data File**

In [83]:
#write code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import re

pd.set_option('display.float_format', '{:.2f}'.format)
sns.set()
%matplotlib inline

**ii. Read Fifa.csv file**

In [84]:
#write code here
data = pd.read_csv('fifa.csv')

**iii. Copy dataframe in df**

In [85]:
#write code here
df = data.copy()

### Task 2: Some Basic Operations on Data Frame </h3>

**i. Display the first five rows of the dataframe**

In [86]:
#Write Your Code Here
df.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,G치bor Kir치ly,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.00
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN

**ii. Display columns names of the dataframe**

In [87]:
#Write Your Code Here
df.columns

Index(['id', ' name', ' rating', ' position', ' height', ' foot', ' rare',
       ' pace', ' shooting', ' passing', ' dribbling', ' defending',
       ' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed',
       ' positioning'],
      dtype='object')

**iii. Remove extra space in column names**

In [88]:
#Write Your Code Here
df.columns = df.columns.str.replace(' ','')

**iv. Check data type of columns**

In [89]:
#Write Your Code Here
df.dtypes

id               int64
name            object
rating           int64
position        object
height           int64
foot            object
rare             int64
pace            object
shooting        object
passing         object
dribbling       object
defending       object
heading         object
diving          object
handling        object
kicking         object
reflexes        object
speed           object
positioning    float64
dtype: object

**v. Get the Last five rows of dataframe**

In [90]:
#Write Your Code Here
df.tail()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
8842,9801,Danijel Ljuboja,73,A,189,Left,1,62,73,64,74,56,68,,,,,,NaN
8843,9805,Craig Bellamy,79,A,175,Right,0,80,78,67,81,62,71,,,,,,NaN
8844,9807,Michel Breuer,68,D,183,Right,0,61,40,56,51,70,74,,,,,,NaN
8845,9815,Gill Swerts,65,D,179,Right,0,65,48,63,65,67,69,,,,,,NaN
8846,9913,Mehdi Nafti,69,M,179,Right,0,55,56,64,65,69,60,,,,,,NaN

### Question: What do you understand by having a look at the top five and last 5 rows of data?

*Hint: Some values are not filled for certain types of positions.*

### ANSWER:
> * <font face="Comic sans MS" size="2" color="blue"> There are Two type of missing values in the data-set, mentioned below. *(which needs to be handeled speratly.)*  
    * Missing values as **empty spaces**.
    * Missing values as **NaN**, *(Not A Number, a special floating-point value)*.</font>
    <font face="Comic sans MS" size="2" color="blue"> More over, upon checking columns data-types, it can also be seen that some numeric columns are of object data-type, they also require further treatment.   </font>

**vi. Get the statistical summary for the numerical columns**

In [91]:
#Write Your Code Here
df.describe()

             id  rating  height    rare  positioning
count   8847.00 8847.00 8847.00 8847.00       930.00
mean  152337.54   66.68  181.75    0.35        64.96
std    54506.61    7.15    6.45    0.48         8.85
min        2.00   40.00  158.00    0.00        37.00
25%   140001.50   62.00  178.00    0.00        59.00
50%   171578.00   66.00  182.00    0.00        65.00
75%   189185.00   72.00  186.00    1.00        71.00
max   205583.00   94.00  208.00    1.00        91.00

**vii. Show the statistical summary of object type columns in dataframe**

In [92]:
#Write Your Code Here
df.describe(include = ['O'])

,name,position,foot,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed
count,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847
unique,8678,4,2,73,80,76,76,64,67,49,45,53,53,54
top,Henrique,M,Right,,,,,,,,,,,
freq,5,3041,6762,930,930,930,930,930,930,7917,7917,7917,7917,7917

**viii. Show the statistical summary of all the columns in dataframe**

In [93]:
#Write Your Code Here
df.describe(include='all')

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
count,8847.00,8847,8847.00,8847,8847.00,8847,8847.00,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,930.00
unique,NaN,8678,NaN,4,NaN,2,NaN,73,80,76,76,64,67,49,45,53,53,54,NaN
top,NaN,Henrique,NaN,M,NaN,Right,NaN,,,,,,,,,,,,NaN
freq,NaN,5,NaN,3041,NaN,6762,NaN,930,930,930,930,930,930,7917,7917,7917,7917,7917,NaN
mean,152337.54,NaN,66.68,NaN,181.75,NaN,0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.96
std,54506.61,NaN,7.15,NaN,6.45,NaN,0.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.85
min,2.00,NaN,40.00,NaN,158.00,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.00
25%,140001.50,NaN,62.00,NaN,178.00,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.00
50%,171578.00,NaN,66.00,NaN,182.00,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.00
75%,189185.00,NaN,72.00,NaN,186.00,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.00
max,205583.00,NaN,94.00,NaN,208.00,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.00

### Task 3: Dealing with Missing Value

**i. Count the number of missing values in each column**

In [94]:
#Write Your Code Here
df.isnull().sum()

id                0
name              0
rating            0
position          0
height            0
foot              0
rare              0
pace              0
shooting          0
passing           0
dribbling         0
defending         0
heading           0
diving            0
handling          0
kicking           0
reflexes          0
speed             0
positioning    7917
dtype: int64

**ii. Replace extra space with NaN**

In [95]:
#write code here
df = df.replace(r'^\s*$', np.nan, regex=True)

df.isnull().sum() #after replacing spaces with NaN

id                0
name              0
rating            0
position          0
height            0
foot              0
rare              0
pace            930
shooting        930
passing         930
dribbling       930
defending       930
heading         930
diving         7917
handling       7917
kicking        7917
reflexes       7917
speed          7917
positioning    7917
dtype: int64

**iii. Fill all null values of dataframe with 0**

In [96]:
#write code here

df.fillna(0, inplace=True)

df.isnull().sum() #after replacing NaN with zero !

id             0
name           0
rating         0
position       0
height         0
foot           0
rare           0
pace           0
shooting       0
passing        0
dribbling      0
defending      0
heading        0
diving         0
handling       0
kicking        0
reflexes       0
speed          0
positioning    0
dtype: int64

In [97]:
df.position.unique()

array([' GK', ' M', ' A', ' D'], dtype=object)

**iv. Count the number of players in each position**

In [98]:
#Write Your Code Here
df.position.value_counts().reset_index(name="No. of players").rename(columns = {'index': 'Poition'})

  Poition  No. of players
0       M            3041
1       D            2794
2       A            2082
3      GK             930

**v. Check datatypes of all columns**

In [99]:
#write code here
df.dtypes

id               int64
name            object
rating           int64
position        object
height           int64
foot            object
rare             int64
pace            object
shooting        object
passing         object
dribbling       object
defending       object
heading         object
diving          object
handling        object
kicking         object
reflexes        object
speed           object
positioning    float64
dtype: object

**vi. Cast ' pace', ' shooting', ' passing', ' dribbling', ' defending',' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed',' positioning' into Integer type**

In [100]:
#write code here
cast_list = ['pace', 'shooting', 'passing', 'dribbling', 'defending','heading',
        'diving','handling', 'kicking', 'reflexes', 'speed','positioning' ]

df[cast_list]=df[cast_list].astype('int64')

In [102]:
#write code here
df.dtypes

id              int64
name           object
rating          int64
position       object
height          int64
foot           object
rare            int64
pace            int64
shooting        int64
passing         int64
dribbling       int64
defending       int64
heading         int64
diving          int64
handling        int64
kicking         int64
reflexes        int64
speed           int64
positioning     int64
dtype: object

### Task 4

**You have to split the dataframe into two dataframes, one containing all the features of Goal Keeper and other dataframe contains all other players**

In [103]:
df_goalkeeper= df[df['position'] == 'GK']
df_goalkeeper.head()

Empty DataFrame
Columns: [id, name, rating, position, height, foot, rare, pace, shooting, passing, dribbling, defending, heading, diving, handling, kicking, reflexes, speed, positioning]
Index: []

<span style="color:green">**As you can see that the dataframe is empty and no value has been assigned to it. Let's check out the issue.**</span>

**i. Check unique value of position, there must be a space on each position**

In [104]:
#Write code here
df.position.unique()

array([' GK', ' M', ' A', ' D'], dtype=object)

<span style="color:green">**From the above output, you can see that there is an extra space in the position reffered to as GK.**</span>

**ii. Remove extra space in position column and remove it like ' GK' to 'GK' and then again make dataframe of GK**<br>
*Hint: Use str.replace*

In [105]:
#Write Code here
df.position = df.position.str.replace(' ','')

**iii. Now make a dataframe of df_goalkeeper.**

In [111]:
#Write Your Code Here
df_goalkeeper= df[df['position'] == 'GK']
df_goalkeeper.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,G치bor Kir치ly,69,GK,191,Right,0,0,0,0,0,0,0,70,66,63,74,35,66
20,100745,Paul Smith,64,GK,193,Right,1,0,0,0,0,0,0,65,62,55,67,41,62
29,100807,Stefanos Kotsolis,65,GK,190,Right,0,0,0,0,0,0,0,62,68,62,65,60,64
31,100899,Steve Phillips,61,GK,185,Right,1,0,0,0,0,0,0,46,65,76,71,31,61
39,101282,Oka Nikolov,70,GK,188,Right,0,0,0,0,0,0,0,72,64,59,73,61,73

**iv. Dataframe of goal keeper must and only contain the following columns 'id', 'name', 'rating', 'position', 'height', 'foot',' rare','diving', 'handling', 'kicking', 'reflexes', 'speed','positioning'** <br>
**Drop all the other columns**

In [113]:
#write code here
remove_list = ['pace','shooting', 'passing', 'dribbling', 'defending', 'heading']

df_goalkeeper = df_goalkeeper.drop(remove_list, axis=1)

**v. Make the dataframe of df_players having data of the all the other players except the goal keeper.**

In [116]:
#write code here
#df_players

df_players = df[df['position']!='GK']

**vi. Dataframe of other players must contain the following columns 'id', 'name', 'rating', 'position', 'height', 'foot', 'rare',  'pace', 'shooting', 'passing', 'dribbling', 'defending', 'heading'** <br>
**Drop all the other columns**

In [117]:
#write code here
columns_list = ['id', 'name', 'rating', 'position', 'height', 'foot','rare', 'pace',
                'shooting', 'passing', 'dribbling', 'defending', 'heading']

df_players = df_players[columns_list]

**vii. Find shape of both the datasets**

In [120]:
#Write Your Code Here
print(f'Shape of "df_goalkeeper" = {df_goalkeeper.shape}')

Shape of "df_goalkeeper" = (930, 13)

In [119]:
#write code here
print(f'Shape of "df_players" = {df_players.shape}')

Shape of "df_players" = (7917, 13)

**viii. Check head of both the splited dataframe**

In [121]:
#Write Your Code Here
df_goalkeeper.head()

,id,name,rating,position,height,foot,rare,diving,handling,kicking,reflexes,speed,positioning
0,1001,G치bor Kir치ly,69,GK,191,Right,0,70,66,63,74,35,66
20,100745,Paul Smith,64,GK,193,Right,1,65,62,55,67,41,62
29,100807,Stefanos Kotsolis,65,GK,190,Right,0,62,68,62,65,60,64
31,100899,Steve Phillips,61,GK,185,Right,1,46,65,76,71,31,61
39,101282,Oka Nikolov,70,GK,188,Right,0,72,64,59,73,61,73

In [122]:
#Write Your Code Here
df_players.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66
5,100329,Abdoulaye Faye,72,D,187,Right,1,50,37,47,43,76,82

**ix. Show the summary stats of both the datasets**

In [126]:
#Write Your Code Here for summary stats of goal keeper
df_players.describe()

,id,rating,height,rare,pace,shooting,passing,dribbling,defending,heading
count,7917.00,7917.00,7917.00,7917.00,7917.00,7917.00,7917.00,7917.00,7917.00,7917.00
mean,153315.88,66.77,180.99,0.35,67.93,55.05,58.85,61.19,60.34,63.74
std,53963.76,7.08,6.20,0.48,11.17,13.14,10.96,12.26,10.62,8.98
min,2.00,41.00,158.00,0.00,24.00,12.00,13.00,19.00,26.00,22.00
25%,141099.00,62.00,177.00,0.00,62.00,47.00,52.00,54.00,52.00,58.00
50%,172252.00,66.00,181.00,0.00,69.00,57.00,60.00,63.00,61.00,64.00
75%,189390.00,72.00,185.00,1.00,75.00,65.00,66.00,70.00,68.00,70.00
max,205583.00,94.00,203.00,1.00,96.00,90.00,92.00,97.00,89.00,91.00

In [124]:
df_goalkeeper.describe()

,id,rating,height,rare,diving,handling,kicking,reflexes,speed,positioning
count,930.00,930.00,930.00,930.00,930.00,930.00,930.00,930.00,930.00,930.00
mean,144009.05,65.92,188.23,0.35,67.35,64.74,63.07,68.87,48.21,64.96
std,58295.06,7.67,4.70,0.48,8.31,8.07,8.65,8.55,10.33,8.85
min,6.00,40.00,173.00,0.00,30.00,39.00,30.00,32.00,14.00,37.00
25%,134631.75,61.00,185.00,0.00,62.00,60.00,57.00,63.00,42.00,59.00
50%,163614.50,66.00,188.00,0.00,67.00,65.00,63.00,69.00,50.00,65.00
75%,186381.75,71.00,191.00,1.00,73.00,70.00,69.00,74.00,56.00,71.00
max,205409.00,89.00,208.00,1.00,91.00,86.00,94.00,93.00,73.00,91.00

### Question: What do you understand from the summary statistics of goal keeper?

### Answer:

In [ ]:
#Write Your Code Here for summary stats of players

### Question: What do you understanf from the summary statistics of other players?

### Answer:

### Task 5: Group By and Pivoting

In [127]:
df.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,G치bor Kir치ly,69,GK,191,Right,0,0,0,0,0,0,0,70,66,63,74,35,66
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,0,0,0,0,0,0
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,0,0,0,0,0,0
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,0,0,0,0,0,0
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,0,0,0,0,0,0

**i. Display averages of each columns according the players' positions**

In [144]:
df.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,G치bor Kir치ly,69,GK,191,Right,0,0,0,0,0,0,0,70,66,63,74,35,66
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,0,0,0,0,0,0
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,0,0,0,0,0,0
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,0,0,0,0,0,0
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,0,0,0,0,0,0

In [143]:
#Write Your Code Here

df.pivot_table(index='position', values=list(df.columns),aggfunc=np.mean)

,defending,diving,dribbling,handling,heading,height,id,kicking,pace,passing,positioning,rare,rating,reflexes,shooting,speed
position,,,,,,,,,,,,,,,,
A,50.91,0.00,66.66,0.00,64.76,180.94,157071.44,0.00,72.49,54.36,0.00,0.48,67.26,0.00,63.76,0.00
D,68.07,0.00,51.84,0.00,66.84,183.15,150820.40,0.00,63.93,55.47,0.00,0.27,66.06,0.00,43.62,0.00
GK,0.00,67.35,0.00,64.74,0.00,188.23,144009.05,63.07,0.00,0.00,64.96,0.35,65.92,68.87,0.00,48.21
M,59.70,0.00,66.05,0.00,60.21,179.04,153037.44,0.00,68.49,65.02,0.00,0.35,67.09,0.00,59.60,0.00

**ii. Count number of players against each position and foot used by them.**    
*Hint: Use Groupby*

In [ ]:
#Write Your Code Here
#Group By Here

**iii. Perform grouping on position and foot to find mean, min and max values of rating. Store the result in a variable called 'a'** <br>
*Hint: Aggregate(mean,min,max) on rating using .agg() method and nested dictionaries* <br>

In [ ]:
#Write Your Code Here

**iv. Perform "PIVOTING" on the dataframe 'df'. The properties should be as following:**<br>
*index = ' position'<br>
columns = ' foot'<br>
values=' rating'<br>
aggfunc=['min','mean']*<br>

In [ ]:
#Write Code Here

# Visualization

### Task 6: Display total players of each position.

In [ ]:
#write code here

**Question: What insights do you get from the above plot?**

### Task 7:  Show the total number of players for each foot type.

In [ ]:
#Write code here

### Task 8. Show 'foot' ditribution per 'rating' using boxplot

In [ ]:
#write code here

**Question: What does the above box plot show?**

### Task 9. Display total number of players for each foot type according to their positions. But the result of each position should be a separate graph yet shown collectively  <br>
*Hint: You can use subplots and you can have a separate dataframe for each postion. Sample code fir subplots is given below:*<br>
*Sample Code 
<br>*
```
fig, ax=plt.subplots(2,2,sharey=True, figsize=(15,8))
sns.countplot(x='rating', data=df_goalkeeper, ax=ax[0,0])
ax[0,0].set_title('Goal keeper')
```

In [ ]:
df['position'].unique()

In [ ]:
df_M=df[df['position']==' M']
df_A=df[df['position']==' A']
df_D=df[df['position']==' D']

In [ ]:
#Write code here

### Task 10: What can be the relationship/correlation  ratings and defending of other players.<br>
*Hint: reg plot*

In [ ]:
#Write code here

**Question: What does the above plot show?**

### Task 11: Plot a graph to show the relationship/correlation among rating and handling of goal keeper. Also the distributions of each should be displayed along with the graph showing the relationship.<br>
*Hint: jointplot*

In [ ]:
#Write code here

### Task 12-a.  Make a heatmap to show correlation among all the columns of the goal keeper dataframe and answer the questions

In [ ]:
#write code here to find the correlation

In [ ]:
#write code here for heatmap

**Question: Which columns/variables/factors are important to determine ratings of goal keepers and why?**

### Task 12-b. Make a heatmap show correlation among all the columns of dataframe having data of all the other players and answer the questions

In [ ]:
# Write the code to find the correlation here

In [ ]:
#write code here for heatmap

**Question: Which columns/variables/factors are important to dertmine ratings of other players and why?**

### Task 13. Show distribution of rating.
*Hint: Use dist plot*

In [ ]:
#write code here

**Question: What insights do you get from the distplot drawn above?**

### Task 14: Show the distribution of ratings of each types of players through KDE plot using distplot() function

In [ ]:
#Write code here

### Task 15: What is the count of rare players in each type of postion?

In [ ]:
#write code here